@import "./vars";

:export {
    background: $background;
    text: $text;
    primary: $primary;
    red: $red;
    borderWidth: $border-width;
    borderRadiusLg: $border-radius-lg;
    breakpointSm: $breakpoint-sm;
    breakpointMd: $breakpoint-md;
}
