@use "vars";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  font-family: Quicksand;
  line-height: 1.5;
  font-weight: 400;
  font-size: vars.$font-size;

  position: relative;
  color-scheme: light;
  color: vars.$text;
  background-color: vars.$background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  font-family: Quicksand;
}

a {
  color: vars.$text;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  color: vars.$text;
  width: 100%;
  max-width: 100%;
  padding: vars.$padding-xxs vars.$padding-xs;
  background: none;
  border: 2px solid vars.$border-color;
  border-radius: vars.$border-radius-sm;
  line-height: 1;
  font-size: 1em;
  -webkit-border-radius: vars.$border-radius-sm;
  -moz-border-radius: vars.$border-radius-sm;
  -ms-border-radius: vars.$border-radius-sm;
  -o-border-radius: vars.$border-radius-sm;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  &::placeholder {
    color: vars.$text-light;
  }
  &:focus,
  &:active {
    border: 2px solid vars.$primary;
    outline: none;
  }
}

input[type="checkbox"] {
  display: none;
  & + label {
    display: block;
    position: relative;
    width: vars.$checkbox-width;
    height: vars.$checkbox-height;
    border-radius: vars.$border-radius-md;
    -webkit-border-radius: vars.$border-radius-md;
    -moz-border-radius: vars.$border-radius-md;
    -ms-border-radius: vars.$border-radius-md;
    -o-border-radius: vars.$border-radius-md;
    background: vars.$border-color;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    &:before {
      content: "";
      display: block;
      width: vars.$checkbox-dot-size;
      height: vars.$checkbox-dot-size;
      border-radius: vars.$border-radius-md;
      background: vars.$background;
      position: absolute;
      left: vars.$checkbox-offset;
      top: vars.$checkbox-offset;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-border-radius: vars.$border-radius-md;
      -moz-border-radius: vars.$border-radius-md;
      -ms-border-radius: vars.$border-radius-md;
      -o-border-radius: vars.$border-radius-md;
    }
  }
  &:checked + label {
    background: vars.$primary;
    &:before {
      left: calc(
        vars.$checkbox-width - vars.$checkbox-dot-size - vars.$checkbox-offset
      );
    }
  }
}

.full-height {
  min-height: 100vh;
}

.advert-and-join {
  .phone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.ball {
  position: fixed;
  width: 30vw;
  aspect-ratio: 1/1;
  //background: rgb(vars.$accent, 0.3);
  background: vars.$gradient-4;
  box-shadow: inset -1rem 1rem 2rem vars.$accent;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.15;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: -2;
  &.big {
    width: 35vw;
  }
}
.ball-container {
  position: relative;
  width: 30vw;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  z-index: -1;
  &.big {
    width: 35vw;
  }
}

.section-container {
  margin-bottom: vars.$padding-lg;
}

.section-title {
  font-size: vars.$font-h0;
  text-transform: capitalize;
  margin-bottom: vars.$padding-sm;
  line-height: 1.1;
  .extra {
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      width: 100%;
      height: 1rem;
      background: vars.$gradient-3;
      border-radius: vars.$border-radius-xs;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
      z-index: -1;
      -webkit-border-radius: vars.$border-radius-xs;
      -moz-border-radius: vars.$border-radius-xs;
      -ms-border-radius: vars.$border-radius-xs;
      -o-border-radius: vars.$border-radius-xs;
    }
  }
}

.sparkle {
  position: absolute;
  font-size: 3em;
  line-height: 1;
  background: vars.$gradient-2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.pin-spacer {
  width: 100% !important;
  & > div {
    width: 100% !important;
  }
}

@media screen and (max-width: vars.$breakpoint-sm) {
  body {
    font-size: 0.8em;
  }
}

@media screen and (max-height: vars.$breakpoint-w-md) {
  body {
    font-size: 0.8em;
  }
}
